<div class="grid gap-5">
   <div class="mt-5 lg:mt-0">
      <h1 class="text-xs font-light tracking-widest">SEU PROJETO</h1>
   </div>
   
   <form action="#">
      <div class="grid gap-2">
         <input class="input-text" type="text" placeholder="Nome do seu projeto">
         <textarea class="resize-none input-text" name="" id="" placeholder="Descrição do seu projeto"></textarea>
      </div>
   
      <div class="mt-5">
         <h1 class="text-xs font-light tracking-widest">PERSONALIZAÇÃO</h1>
      </div>
   
      <div class="grid grid-cols-2 gap-3 mt-3 lg:grid-cols-1">

         <select class="input-text">
            <option class="px-3" name="" id="">JavaScript</option>
            <option class="px-3" name="" id="">PHP</option>
            <option class="px-3" name="" id="">HTML</option>
            <option class="px-3" name="" id="">CSS</option>
         </select>         
         
         <div class="p-1 align-middle border-2 border-white rounded-xl">
            <div class="w-full bg-indigo-500 rounded-lg">
               <select class="input-text">
                  <option class="px-3" name="" id=""></option>
               </select>
            </div>
         </div>
      </div>
   
      <button class="w-full p-5 mt-5 text-black bg-blue-500 rounded-lg">
         Salvar Projeto
      </button>
   </form>
</div>  